html( ng-app="plunker" )
  head
    script( src="/bower_components/angular/angular.min.js" )
    script( src="/bower_components/jquery/dist/jquery.min.js" )
    script( src="/bower_components/esponsiveGridSystem/js/responsivegridsystem.js" )
    link( rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css" )
    link( rel="stylesheet", href="/public/css/wedding.css" )
    script( src="/public/lib/js/ui-bootstrap-tpls-0.11.0.js" )
    script( src="/bower_components/angular-timer/dist/angular-timer.min.js" )
    script( src="/bower_components/angular-route/angular-route.js" )
    script( src="/public/javascript/wedding-angular.js" )
  body
  div.heading
    h4.header
      |Matthew and Genevieve
    timer( end-time="1434146400000", interval="1000" )
      span.header
        |{{days}} days, {{hours}} hours
  div( class="section group" )
    div( ng-controller="AccordionDemoCtrl" class="col-md-3 col-sm-3 nav" )
      accordion( close-others="oneAtATime" )
        accordion-group( heading="Home" is-open="status.isFirstOpen", style="background-color:#EBF0F2" )
          a( href="#welcome" )
            |Welcome!
        accordion-group( heading="{{group.title}}", ng-repeat="group in groups", style="background-color:#EBF0F2" )
          div( ng-repeat="elem in group.content" style="margin-bottom:10px" )
            a( ng-href="#{{whiteSpaceRemover( elem )}}" )
              |{{elem}}
    div( style="display:inline-block", class="col-md-9 col-sm-9" )
      div.body( ng-view )