div.heading {
  margin-bottom : 2%;
}

div.heading .header {
  display : block;
  text-align : center;
}

body {
  padding : 1%;
  background: -webkit-linear-gradient(#F7E6D5, #F7D1A6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F7E6D5, #F7D1A6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F7E6D5, #F7D1A6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F7E6D5, #F7D1A6); /* Standard syntax */
  height: 100%;
  background-attachment : fixed;
}

div.body {
  margin-left : 12%;
  margin-right : 15%;
}

div.nav {
  display : inline-block;
  vertical-align : top;
}

img {
  width : 80%;
  height : auto;
  margin : 15px;
}