We've booked two hotels in the general area of Leesburg, the
<a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/W/WASLGHW-FIN-20150611/index.jhtml;jsessionid=CE5A2U4VB2LJ4CSQA0M3MQQ">Homewood Suites by Hilton</a>
and <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/W/WASLBHX-FIN-20150610/index.jhtml?WT.mc_id=POGGroup">Hampton Inn in Leesburg</a>.

<h4>Homewood Suites by Hilton</h4>
<a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/W/WASLGHW-FIN-20150611/index.jhtml;jsessionid=CE5A2U4VB2LJ4CSQA0M3MQQ">
  <img src="http://homewoodsuites3.hilton.com/resources/media/hw/WASLGHW/en_US/img/shared/full_page_image_gallery/main/hw_exterior_1_505x305_FitToBoxSmallDimension_Center.jpg" />
</a>
<br />
<br />
This is the more expensive of the two options. It's is also where Genevieve and Matt are staying, so if there's an
afterparty, it will be here. While all of the rooms are suites, there are two types of rooms available.
<ul>
  <li>
    <a href="http://homewoodsuites1.hilton.com/en/hw/hotel/WASLGHW-FIN-20150611/room-type-desc-popup.do?groupCode=FIN&roomtypeId=KHWN&brand_id=HW&brand_directory=/en/hw/&xch=1607353000,PORP2WSLH3F2GCSQA0M3MQQ">
      1 King Bed 1 Bedroom Suite
    </a>
  </li>
  <li>
    <a href="http://homewoodsuites1.hilton.com/en/hw/hotel/WASLGHW-FIN-20150611/room-type-desc-popup.do?groupCode=FIN&roomtypeId=KSTN&brand_id=HW&brand_directory=/en/hw/&xch=1607353068,PORP2WSLH3F2GCSQA0M3MQQ">
      1 King Bed Studio
    </a>
  </li>
</ul>
Homewood Suites is located at
<b>
  <a href="https://www.google.com/maps/place/115+Fort+Evans+Rd+NE,+Leesburg,+VA+20176/@39.10784,-77.543864,17z/data=!3m1!4b1!4m2!3m1!1s0x89b63d75c574f795:0x1c66810ae43afa0e">
    115 Fort Evans Road N.E. Leesburg, Virginia, 20176</a></b>. You can either drive directly to the wedding, and then
drive back, or there will be a shuttle from the wedding venue to this hotel.
<br />
<br />

<h4>Hampton Inn</h4>
<a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/W/WASLBHX-FIN-20150610/index.jhtml?WT.mc_id=POGGroup">
  <img src="http://aff.bstatic.com/images/hotel/max500/138/1382544.jpg" />
</a>
<br />

The hampton inn is located across the street from the Homewood Suites, at
<b>
  <a href="https://www.google.com/maps/place/Hampton+Inn+%26+Suites+Leesburg/@39.1072642,-77.5440011,18z/data=!4m2!3m1!1s0x89b63d75d6d18205:0x42fa354331fd198e">
    117 Fort Evans Rd NE, Leesburg, VA 20176</a></b>. Unlike the Homewood Suites, the rooms are standard hotel rooms, all
of which are non-smoking. There are three room choices available here:
<ul>
  <li>
    1 King Bed with Study/SofaBed
  </li>
  <li>
    2 Queen Beds
  </li>
  <li>
    1 King Bed
  </li>
</ul>