<p>While you're in town, you can also visit the historic town of Leesburg, or some of the wineries in the area. Leesburg.</p>
<iframe style="width:50%;height:50%;margin:15px" src="http://www.leesburgva.gov/index.aspx?page=1598">You're browser doesn't support iframes</iframe>
<p>
  There are also a number of wineries in the area, including one of our favorites in Virigina,
  <a href="http://www.breauxvineyards.com/">Breaux Vinyards</a>.
  <br />
  <a href="http://www.breauxvineyards.com/"><img style="padding:15px;width:50%" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Breaux_Vineyards_logo_-_horizontal_with_text_and_crawfish.jpg/220px-Breaux_Vineyards_logo_-_horizontal_with_text_and_crawfish.jpg" /></a>
  <br />
  Breaux has some of the best red wine in the state, and is supplying much of the red wine you'll find at the wedding.
  For a full list of wineries around Leesburg, you can check out
  <a href="http://www.virginiawine.org/wineries/browse?filter[region_ids][12]=12&page=1">virginiawine.com</a>, which has
  a fairly comprehensive list.
</p>