<a href="http://www.rosehillmanor.com"><img src="http://www.foxchasemanor.com/Portals/1/Home%20Page%20Photos/Front-Exterior-tb.jpg" /></a>
<p>
  The wedding will be taking place at <a href="http://www.rosehillmanor.com/">Rose Hill Manor</a>, a traditional Jeffersonian
  manor home in Leesburg, Virginia. The address is <a href="https://www.google.com/maps/place/Rose+Hill+Manor/@39.151246,-77.542753,17z/data=!3m1!4b1!4m2!3m1!1s0x89b622b42bf08545:0x38c1cc65a3840812">
  42140 Raspberry Plain Ln, Leesburg, VA, 20176</a>.
</p>
<br />
<p>
  The wedding ceremony will begin at approximately 6:00 PM, on the outdoor patio behind the manor house. As you approach Rose Hill Manor
  from the parking lot, you'll see a path on the right side. You can take this path to the back, where the patio is. There
  should also be someone on the grounds to assist you in finding the ceremony.
</p>