<div>
  <img src="/public/img/mattandjenny.JPG" style="vertical-align:middle;width:80%;height:auto"/>
  <br />
  <p>Welcome to the homepage for our wedding!</p>
  We're very excited about our upcoming wedding, and wanted to make sure everyone had
  all of the most up-to-date information about our wedding. We've tried to include all of the information about our wedding
  in this page, including:
  <ul>
    <li>Information about the wedding itself, such as the date and location</li>
    <li>Our gift registry at Amazon and Macys</li>
    <li>Information about the venue we're getting married in, and the hotels we've reserved</li>
  </ul>
</div>